<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/products.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <%- include("./nav.ejs") %>

    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <ul
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <% products.forEach(function (e) {%> <% var cat=[];for(let i=0 ; i <
          e.length-1 ;i++) {cat.push(e[i]);}%>
          <a
            href="/products/search?q=<% cat.join("") %>  "
            style="text-decoration: none; color: black"
          >
            <li>
              <div class="col mb-1 box">
                <div class="card h-100">
                  <div class="card-body p-4">
                    <div class="text-center">
                      <!-- Category name-->
                      <h5 class="fw-bolder"><%= e %></h5>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </a>
          <% }); %>
        </ul>
      </div>
    </section>
    <!-- Footer-->
    <%- include("./footer") %>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
